{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Рабочее пространство</h1>
{% with total_images_created=request.user.images_created.count %}
 <p>Добро пожаловать {{request.user.username}}. В вашей коллекции {{total_images_created }} изображений.</p>
 {% endwith %}
 <p>Переместите эту кнопу на панель закладок и используйте ее для сохранения понравившихся изображений на разных сайтах
 → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Bookmark it</a><p>

 <p>Вы также можете <a href="{% url "edit" %}">редактировать свой профиль</a> или
 <a href="{% url "password_change" %}">Поменять пароль</a>.<p>

 <h2>Новости</h2>
<div id="action-list">
 {% for action in actions %}
 {% include "action/detail.html" %}
 {% endfor %}
</div>

{% endblock %}